@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

.App {
  text-align: center;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
}

h1 {
  font-family: 'Silkscreen', cursive;
  color: white;
}

body {
  background-color: #3374FF;
}

input {
  border-radius: 20px;
  border: white;
  padding: 10px;
  width: 300px;
}

li {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  list-style-type: none;  
  color: white;
  border: 2px solid white;
  border-radius: 20px;
  margin: 30px;
}

button {
  padding: 10px;
  border-radius: 20px;
  border: none;
  margin: 10px;  
}
